.helmfile
__pycache__
*.idea
.gradle
build/
out/
*.log
metastore_db
*.iml
.DS_Store
*.gz
venv
.pytest*
ansible/buffer
ansible/hosts
terraform/modules/**/*.zip
terraform/**/.terraform
terraform/**/terraform.tfstate
terraform/**/terraform.tfstate.backup
terraform/**/.terraform.lock.hcl